<% provide(:title, t(".home_title")) %>
<h1><%= t ".home_title" %></h1>
<p>
  <%= link_to t("english"), locale: Settings.en %>
  <%= link_to t("vietnam"), locale: Settings.vn %>
  <%= t ".p1" %>
  <%= link_to t("base_title"), Settings.link_home %>,
  <%= t ".p2" %>
  <%= link_to "Learn Enough", Settings.link_learn %>
  <%= t ".p3" %>
  <%= link_to t(".p4"), Settings.link_book %>
  <%= t ".p5" %>
  <%= link_to "screencast series", Settings.link_book %>
  <%= t ".p6" %>
  <%= link_to "Ruby on rails", Settings.link_home %>
  <%= t ".p7" %>
  <p>
    <%= link_to t("back"), root_url %>
  </p>
</p>
