<% provide(:title, t(".home_title")) %>
<div class="center jumbotron">
  <h1><%= t ".home_title" %></h1>
  <p>
    <%= link_to t("english"), locale: Settings.en %>
    <%= link_to t("vietnam"), locale: Settings.vn %>
    <%= t ".p1" %>
    <%= link_to t(".rar_help"), Settings.link_help %>
    <%= t ".p2" %>
    <%= link_to t(".p3"), Settings.link_book %>
    <p>
      <%= link_to t("back"), root_url %>
    </p>
  </p>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.link_home %>
