<footer class="footer">
  <small>
    <%= t(".p1") %>
    <%= link_to t("base_title"), Settings.link_home %>
    <%= t(".p2") %>
    <%= link_to "Michael Hart", Settings.MH %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), static_pages_about_path %></li>
      <li><%= link_to t("contact"), static_pages_contact_path %></li>
      <li><%= link_to t("new"), Settings.link_new %></li>
    </ul>
  </nav>
</footer>
